<!DOCTYPE html>
<html lang="ja">
<head>
	
	<meta charset="UTF-8">
	<title>Node Sample App</title>
	
	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
	
<div class="container">
	<div class="jumbotron">
		<h1>ようこそ　どいなか人クラブへ !</h1>
		<p>どいなかを、馬鹿にするなかれ<a href="http://doinakajin.blog.fc2.com/blog-date-201411.html">どいなか人日記</a></p>
		<a href="https://www.heroku.com" class="btn btn-primary btn-ng">Heroku公式サイト</a>
	</div>
</div>

</body>
</html>
